<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="info" style="display:block"><p>请填写</p></div>
<script>
  /*console.log(document.getElementById("info").innerHTML);
  for (var i = 0;i < 5 ; i ++){
    setTimeout(function () {
      console.log(i + '');
    },100);
  }*/

  /*var m = 1,j = k = 0;
  function add(n){
    return n = n +1;
  }
  y = add(m);

  function add(n){
    return n = n +3;
  }
  z = add(m);
  alert(z);
*/
  /*function A() {
    this.do = function () {return 'foo';};
  }
  A.prototype = function () {
    this.do = function () {return 'bar';};
  }
  var x = new A().do();
  console.log(x);*/
</script>
</body>
</html>

